body {
    margin: 0;
    background: transparent;
}
.chart-container {
    height: 300px;
    width: 100%;
    background-color: #373737;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}